<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401982242023-vps03b8ka8ilbiotg799pmru3h2g06oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401982242023-vps03b8ka8ilbiotg799pmru3h2g06oj</string>
	<key>API_KEY</key>
	<string>AIzaSyDxRYlXSjY6ogtMUoO9lk3m80J2bve3Co8</string>
	<key>GCM_SENDER_ID</key>
	<string>401982242023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.grenos.SwiftUI-Template</string>
	<key>PROJECT_ID</key>
	<string>swiftui-boiler</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-boiler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401982242023:ios:34055448a1227eb59e7642</string>
	<key>DATABASE_URL</key>
	<string>https://swiftui-boiler.firebaseio.com</string>
</dict>
</plist>